<!DOCTYPE html>
<html lang="en">

<head>
    <title>Biography</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--font-awesome-->
    <script src="https://kit.fontawesome.com/6f8a5347a6.js" crossorigin="anonymous"></script>
    <!-- css file link-->
    <link rel="stylesheet" href="css/style.css">
    <!--Adding JavaScript-->
    <script src="js/index.js"></script>
    <!-- Adding Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <script src="https://unpkg.com/vuex"></script>
</head>

<body class="academics">
    <!-- to navigate through different pages of the site -->
    <header>
        <nav>
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="index.html">About</a></li>
                <li class="nav-item"><a class="nav-link nav-active" href="academics.html">Academics</a></li>
                <li class="nav-item"><a class="nav-link" href="publications.html">Publications</a></li>
                <li class="nav-item"><a class="nav-link" href="skills.html">Skills</a></li>
                <li class="nav-item"><a class="nav-link" href="experiences.html">Experiences</a></li>
                <li class="nav-item"><a class="nav-link" href="interests.html">Interests</a></li>
                <li class="nav-right"><a href="mailto:amuniat@bu.edu" aria-label="Send me an email"><i class="fa fa-envelope-square gm-icon nav-profile-icons" aria-hidden="true"></i></a></li>
                <li class="nav-right"><a href="https://scholar.google.com/citations?user=zzZ3oh8AAAAJ" target="_blank" title="Google Scholar" aria-label="visit my Google Scholar account"><i class="fas fa-user-graduate nav-profile-icons" aria-hidden="true"></i></a></li>
                <li class="nav-right"><a href="https://bitbucket.org/Ayman_Muniat" target="_blank" title="BitBucket" aria-label="visit my BitBucket account for projects"><i class="fa-brands fa-bitbucket nav-profile-icons" aria-hidden="true"></i></a></li>
                <li class="nav-right"><a href="https://www.linkedin.com/in/ayman-muniat-037b861a0/" target="_blank" title="LinkedIn" aria-label="Connect with me on LinkedIn"><i class="fab fa-linkedin nav-profile-icons" aria-hidden="true"></i></a></li>
            </ul>
            
    
        </nav>
    </header>
    

    <section class="education"> 
        
        
        <h1 class="heading">Education</h1> <!--section contains educational background-->
    
   
    <section class="flex-container"> <!--flex layout-->
        <section class="flex-item-left">
       <h3>BS in Computer Science & Engineering</h3> 
       <pre>
        <strong>Bachelor of Science</strong>
        North South University
        Dhaka, Bangladesh
       </pre>
    </section>
    
    <section class="flex-item-right">
        <pre>
            <strong class="cg">CGPA: 3.70(on a scale of 4.00)</strong>
            May 2017 - Dec 2020
        </pre>
    </section>
    
    <section class="flex-item-left">
        <h3>Higher Secondary Certificate</h3>
        <pre>
        <strong>HSC (English Version)</strong>
        Bangladesh International School & College
        Dhaka, Bangladesh
        </pre>
    </section>
    
    <section class="flex-item-right">
        <pre>
            <strong class="cg">CGPA: 5.00(on a scale of 5.00)</strong>
            2014 - 2016
        </pre>
    </section>
    
    <section class="flex-item-left">
        <h3>Secondary School Certificate</h3>
        <pre>
        <strong>SSC (English Version)</strong>
        Bangladesh International School & College
        Dhaka, Bangladesh
        </pre>
    </section>
    
    <section class="flex-item-right">
        <pre>
            <strong class="cg">CGPA: 5.00(on a scale of 5.00)</strong>
            2012 - 2014
        </pre>
    </section>
    


    </section>
    
</section>
    

    <section class="project"> <!-- this sections contains Project works, use of Vue in this section-->
        <header>
        <h1 class="heading"> Projects</h1>
        </header>
        
        
        <section id="one" class="project-1">
            <h3> 1. BariVara</h3> 
            <p>
                My Junior Design project, a Django based web application with house rental solutions. It helps people to either
                put up apartments for rent or find an apartment on rent.</p>  <p><a class="p-int" @click="show = !show" :aria-expanded="show ? 'true' : 'false'">View Website Layout</a>
            </p>
            <figure v-if="show" class="row"> <!--flex layout-->
            <figure class="column">
            <img src="images/advertisementform.jpg" class="barivara" alt="form for posting advertisement">
            <figcaption>Post an Advertisement</figcaption> </figure>
            <figure class="column">
            <img src="images/advertisementdetails.jpg" class="barivara" alt="advertisement view page">
            <figcaption>View Advertisement Details</figcaption> </figure>
            </figure>
            
        </section>
        
        <section id="two" class="project-2">
            <h3> 2. ShopLine</h3>
            <p>
                A cross platform (Web and Android), augmented reality based e-commerce application, to make user experience more
                real and enjoyable.
                Used googleArCore for augmented view of products, Java and Android Studio for the mobile platform, Django for the web. </p><p><a class="p-int" @click="show = !show" :aria-expanded="show ? 'true' : 'false'">View Website Layout</a>
            </p>
            <figure v-if="show" class="row"> <!--flex layout-->
            <figure class="column"><img src="images/cart.png" class="shopline" alt="cart page of ShopLine">
            <figcaption>Cart Page</figcaption> </figure>
            <figure class="column">
            <img src="images/ardemo.png" class="shopline" alt="augmented view of products in ShopLine">
            <figcaption>Augmented View</figcaption> </figure>
            </figure>
        </section>
        
        <section id="three" class="project-3">
            <h3> 3. Blockchain based Healthcare</h3>
            <p>
                Smart contract based framework for automated healthcare system. The purpose is to make healthcare easily accesible and 
                automated, free of hassle and wait times. The contract handles all the basic components of a hospital, registration, appointments,
                consultation, labs, admitting patients, monitoring patients and billing.</p> <p><a class="p-int" @click="show = !show" :aria-expanded="show ? 'true' : 'false'">View Block Structure</a>
            </p>
            <figure v-if="show" class="row">
                <figure class="column"><img src="images/block.png" class="block" alt="block diagram">
                <figcaption>Blockchain Structure</figcaption> </figure>
            </figure>
        </section>
        
    </section>
    <!-- Vue -->
    <script>
     new Vue({
      el: '#one',
      data: {
        show: false
      },
     })
     new Vue({
      el: '#two',
      data: {
        show: false
      },
    })
    new Vue({
      el: '#three',
      data: {
        show: false
      }
    })
    
     </script>
   
</body>
</html>